@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';


@theme {
  --color-primary: #0B0B31;
  --color-secondary: #89CFF0;
  --color-accent: #FFA500;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@layer utilities {
  :root {
    --animate-fade-up: fade-up 0.8s ease-out forwards;
    --animate-fade-left: fade-left 0.8s ease-out forwards;
    --animate-fade-right: fade-right 0.8s ease-out forwards;
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-left {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-right {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-up {
    animation: var(--animate-fade-up);
  }

  .animate-fade-left {
    animation: var(--animate-fade-left);
  }

  .animate-fade-right {
    animation: var(--animate-fade-right);
  }

   .delay-title {
    animation-delay: 0.1s;
  }

  .delay-text1 {
    animation-delay: 0.5s;
  }

  .delay-text2 {
    animation-delay: 0.7s;
  }

    .delay-button {
    animation-delay: 1s;
  }

    @keyframes grow-line {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  .animate-grow-line {
    animation: grow-line 1s ease-out forwards;
    transform-origin: left;
  }

}






.clip-diagonal {
  clip-path: polygon(
    45% 0%,      /* top-left, diagonal start */
    100% 0%,     /* top-right */
    100% 100%,   /* bottom-right */
    0% 100%,     /* bottom-left corner preserved */
    0% 89%       /* end of diagonal, above corner */
  );
  border-radius: 0 50px 50px 50px;
  overflow: hidden;
}


